@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700&display=swap');
:root{
    --blue:rgb(35, 169, 202);
    --rota:rgb(67, 49, 104);
    --purple: #200a42;
    --light-color:#666;
    --box-shadow:0 .5rem 1.5rem rgba(0,0,0,.1);
}

*{
    font-family: "Poppins", sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none; border: none;
    text-decoration: none;
    text-transform: capitalize;
    transition: all .2s linear;

}

html{
    font-size: 62.5%;
    overflow-x: hidden;
    scroll-padding-top: 5rem;
    scroll-behavior: smooth;
    margin-left: 7rem;
    margin-right: 7rem;
}

section{
    padding: 2rem 9%;
}

html::-webkit-scrollbar{
    width: .5rem;
}
html::-webkit-scrollbar-track{
    background: #fff;
}

html::-webkit-scrollbar-thumb{
    background: var(--rota);
    border-radius: 5rem;
}

.heading{
    padding-top: 9rem;
    text-align: center;
    color: var(--purple);
    font-size: 3.9rem;
    padding-bottom: 2rem;
    text-transform: uppercase;
}

.heading span{
    position: relative;
    z-index: 0;
}
.heading span::before{
    content: '';
    position: absolute;
    bottom: 1.2rem; left: 0;
    height: 100%;
    width: 100%;
    background: var(--blue);
    clip-path:polygon(0 90%, 100% 83%, 100% 100%, 0% 100%);
    z-index: -1;
}
.btn{
    margin-top: 1rem;
    display: inline-block;
    font-size: 1.7rem;
    color: #fff;
    background: var(--purple);
    border-radius: .5rem;
    cursor: pointer;
    padding: .8rem 3rem;
}

.btn:hover{
    background: var(--blue);
    letter-spacing: .1rem;
}

.header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1.6rem 9%;
    background: var(--purple);
    position: fixed;
    top: 0; left: 0; right: 0;
    z-index: 1000;
}

.header .logo{
    text-transform: uppercase;
    font-size: 2.5rem;
    color: #fff;
    font-weight: bolder;
}

.icons{
    right: 20rem;
}

header .icons i,
header .icons a{
    cursor: pointer;
    margin-left: .5rem;
    height: 4.5rem;
    line-height: 4.5rem;
    width: 4.5rem;
    text-align: center;
    font-size: 1.7rem;
    color: var(--purple);
    border-radius: 50%;
    background: #eee;
   
}

header .icons i:hover,
header .icons a:hover{
    color: #fff;
    background: var(--blue);
    transform: rotate(360deg);
}


.dishes .box-container{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(27rem, 1fr));
    gap: 1.5rem;
}
.dishes .box-container .box{
    padding: 2.5rem;
    background: #fff;
    border-radius: .5rem;
    border: .1rem solid rgb(0, 0, 0,.2);
    box-shadow: var(--box-shadow);
    position: relative;
    overflow: hidden;
    text-align: center;
}

.dishes .box-container .box img{ 
    height: 17rem;
    margin: 1rem 0;
}
.dishes .box-container .box h3{
    color: rgb(17, 17, 17);
    font-size: 1.5rem;
}
.dishes .box-container .box .stars{
    padding: 1rem 0;
}
.dishes .box-container .box .stars i{
    font-size: 1.7rem;
    color: rgb(233, 233, 10);
}
.dishes .box-container .box span{
    color: var(--blue);
    font-weight: bolder;
    margin-right: 1rem;
    font-size: 2rem;
}




.footer{
    padding-top: 5rem;
    text-align:center;
}
.footer .share{
    padding: 1rem 0;
}
.footer .share a{
    color: var(--purple);
    font-size: 3.4rem;
    margin: 1rem;
}
.footer .share a:hover{
    color: var(--blue);
}

.footer .credit{
    padding: 2rem 1rem;
    text-align: center;
    font-size: 1.6rem;
    color: var(--purple);
}

.footer .credit span{
    color: var(--blue);
}







@media (max-width:991px){
    
    html{
        font-size: 55%;
    }
    header{
        padding: 1rem 2rem;
    }
    
}

@media (max-width:768px){

    header .navbar{
        position: absolute;
        top: 100%;left: 0;right: 0;
        background: #fff;
        border-top: .1rem solid rgb(0, 0, 0,.2);
        border-bottom: .1rem solid rgb(0, 0, 0,.2);
        padding: 1rem;
        clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
    }

    header .navbar.active{
        clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
    }
    
    header .navbar a{
        display: block;
        padding: 1.5rem;
        margin: 1rem;
        font-size: 1.rem;
        background: #eee;
    }
}

@media (max-width:991px){
    
    html{
        font-size: 50%;
    }
}